version: "3.8"

services:
  # 1. Database Service
  mongo:
    image: mongo:6
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  # 2. Backend API Service
  api:
    build: ./backend
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - MONGO_URI=mongodb://mongo:27017/movierental
      - JWT_KEY=1234
    depends_on:
      - mongo

  # 3. Frontend Web Service
  web:
    build: ./frontend
    ports:
      - "8080:80"
    depends_on:
      - api

volumes:
  mongo-data:
